#### DataFrame
##### É uma estrutura de dados bidimensional com rótulos nas linhas e colunas. Pode ser vista como uma tabela em um banco de dados, ou uma planilha do Excel.

In [56]:
import pandas as pd

In [35]:
# Criação de dicionario com autores, preços, e titulos
dictionary = {'Autores': ['Rick Riordan', 'J. R. R. Tolkien', 'Rick Riordan', 'Machado de Assis'],
              'Titulos': ['O Ladrão de Raios', 'A Sociedade do Anel', 'Mar de Monstros', 'Memorias Postumas de Brás Cubas'],
              'Preços': [41.2, 35.7, 39.5, 40.5]}

In [36]:
# Atribuindo o dictionary a uma DataFrame usando a função ( .pdDataFrame - Cria uma tabela )
df = pd.DataFrame(dictionary)
df

            Autores                          Titulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1  J. R. R. Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memorias Postumas de Brás Cubas    40.5

In [37]:
# Acessando os elementos do DataFrame (df) por suas chaves
# Acessando a chave 'Autores'
df['Autores']

0        Rick Riordan
1    J. R. R. Tolkien
2        Rick Riordan
3    Machado de Assis
Name: Autores, dtype: object

In [38]:
# Acessando a o indice 3 da chave 'Titulo'
df['Titulos'][3]

'Memorias Postumas de Brás Cubas'

In [39]:
# Acessando tanto as chaves, quando os indices do dictionary que foi trasformado em DataFrame - O resultado é retornado em forma de uma serie, com isso é possivel fazer algumas operacoes 
# Usando metodos de matematica dentro do DataFrame - media
df['Preços']

0    41.2
1    35.7
2    39.5
3    40.5
Name: Preços, dtype: float64

In [40]:
df['Preços'].mean()

39.225

In [42]:
# Criando mascara Booleana onde a condição mostre True apenas para o nome de um certo autor (df == 'Rick Riordan')
mascara = df['Autores'] == 'Rick Riordan'
print(mascara)

0     True
1    False
2     True
3    False
Name: Autores, dtype: bool

In [45]:
# A plicando a mascara no DateFrame (df) para que ela returne tudo que fizer relação com o paretro passo na mascara que foi ('Rick Riordan').
df[mascara]

        Autores            Titulos  Preços
0  Rick Riordan  O Ladrão de Raios    41.2
2  Rick Riordan    Mar de Monstros    39.5

In [76]:
# Adiciando novos elementos para meu DataFrame (df)
# Deu certo o exemplo - desconsidere os espacos em NaN e as linhas repetidas, foi pq rodei o programa até acertar o que eu estava fazendo
nova_linha_df = pd.DataFrame({'Autores': ['Rick Riordan'], 'Titulos': ['A Maldiça do Titã'], 'Preços': [40.20]})
df = pd.concat([df, nova_linha_df], ignore_index = True) # A função (.concta() - Concatnar dois frame(array) ).
df

            Autores                          Titulos  Preços    Titulo  Preço
0      Rick Riordan                O Ladrão de Raios    41.2       NaN    NaN
1  J. R. R. Tolkien              A Sociedade do Anel    35.7       NaN    NaN
2      Rick Riordan                  Mar de Monstros    39.5       NaN    NaN
3  Machado de Assis  Memorias Postumas de Brás Cubas    40.5       NaN    NaN
4     Lidia Eduarda                              NaN     NaN  A Rainha   50.9
5     Lidia Eduarda                         A Rainha    50.9       NaN    NaN
6     Lidia Eduarda                         A Rainha    50.9       NaN    NaN
7      Rick Riordan                A Maldiça do Titã    40.2       NaN    NaN
8     Lidia Eduarda                         A Rainha    50.9       NaN    NaN
9      Rick Riordan                A Maldiça do Titã    40.2       NaN    NaN

In [77]:
# Criando uma mascara de correcao que acesse no meu DataFrame(df) e retorne apenas o que for igual a ('A Maldiça do Titã')
mascara_de_correcao = df['Titulos'] == 'A Maldiça do Titã'
print(mascara_de_correcao)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
9     True
Name: Titulos, dtype: bool

In [84]:
# A função ( .loc[] - É usada para acessar um grupo de linhas e colunas ).
df.loc[mascara_de_correcao]

        Autores            Titulos  Preços Titulo  Preço
7  Rick Riordan  A Maldiça do Titã    40.2    NaN    NaN
9  Rick Riordan  A Maldiça do Titã    40.2    NaN    NaN

In [86]:
# Usando o metodo loc para aparecer so o que estar escrito na coluna Titulos
df.loc[mascara_de_correcao, 'Titulos']

7    A Maldiça do Titã
9    A Maldiça do Titã
Name: Titulos, dtype: object

In [90]:
# Corrigindo o nome dos elementos da coluna Titulo 
df.loc[mascara_de_correcao, 'Titulos'] = 'A Maldição do Titã'
df

            Autores                          Titulos  Preços    Titulo  Preço
0      Rick Riordan                O Ladrão de Raios    41.2       NaN    NaN
1  J. R. R. Tolkien              A Sociedade do Anel    35.7       NaN    NaN
2      Rick Riordan                  Mar de Monstros    39.5       NaN    NaN
3  Machado de Assis  Memorias Postumas de Brás Cubas    40.5       NaN    NaN
4     Lidia Eduarda                              NaN     NaN  A Rainha   50.9
5     Lidia Eduarda                         A Rainha    50.9       NaN    NaN
6     Lidia Eduarda                         A Rainha    50.9       NaN    NaN
7      Rick Riordan               A Maldição do Titã    40.2       NaN    NaN
8     Lidia Eduarda                         A Rainha    50.9       NaN    NaN
9      Rick Riordan               A Maldição do Titã    40.2       NaN    NaN