In [1]:
import pandas as pd

In [3]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.11/site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in /opt/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)

In [121]:
df = pd.read_excel('Sao paulo.xlsx')
df

,Street,City,propertycard__detailvalue,quartos,banheiros,vagas,price
0,"Avenida Itacira, 255","Planalto Paulista, São Paulo",1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42","Jardim dos Estados, São Paulo",469-524,3-6,3-6,4,R$ 3.700.000
2,Rua Alba Valdez,"Jardim Reimberg, São Paulo",125,4,3,2,R$ 380.000
3,"Jardim Morumbi, São Paulo",SP,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195","Mooca, São Paulo",100,3,2,2,R$ 540.000
...,...,...,...,...,...,...,...
10028,Rua Tapuçu,"Vila Sofia, São Paulo",90,2,2,2,R$ 665.000
10029,Rua Guararema,"Bosque da Saúde, São Paulo",600,8,7,5,R$ 2.300.000
10030,Rua Estero Belaco,"Vila da Saúde, São Paulo",200,3,3,6,R$ 1.050.000
10031,"Rua Manuel Onha, , 514","Vila Oratório, São Paulo",180,3,2,2,R$ 2.200\n /Mês
10032,"Rua Barão de Tramandaí, 0","Vila Alpina, São Paulo",117,3,2,2,R$ 270.000

In [122]:
# A função ( .loc[] - É usada para acessar um grupo de linhas ou colunas ).
# Criando uma Variavel e armazenando a linha (10031 do meus dados)
limpeza_linha = df.loc[10031]
limpeza_linha

Street                                    Rua Manuel Onha, , 514
City                                    Vila Oratório, São Paulo
propertycard__detailvalue                                     180
quartos                                                         3
banheiros                                                       2
vagas                                                           2
price                        R$ 2.200\n                      /Mês
Name: 10031, dtype: object

In [123]:
# criando uma função para auxiliar a modificar a alinha [10031]
# A função (.replace() - E usada para substituir valores em uma DataFrame ou Series por outros valores. )
# Estou repetindo o que o parametro da função  ira fazer pois acho que nao pode passar todas as mudanças em uma unica função (.replace())
def limpa_preco(linha):
    linha['price'] = linha['price'].replace('R$ ', '') # Linha = Linha, no lugar do (R$ ) estou substituindo por nada
    linha['price'] = linha['price'].replace('\n', '') # Linha = Linha, no lugar do (\n) estou substituindo por nada
    linha['price'] = linha['price'].replace('/Mês', '') # Linha = Linha, no lugar do (/Mês) estou substituindo por nada
    linha['price'] = linha['price'].replace('                      ', '') # Linha = Linha, no lugar do (                      ) estou substituindo por nada
    linha['price'] = linha['price'].replace('/Ano', '') # Linha = Linha, no lugar do (/Ano) estou substituindo por nada
    linha['price'] = linha['price'].replace('/Dia', '') # Linha = Linha, no lugar do (/Dia) estou substituindo por nada
    return linha

In [124]:
# Verificando a função (limpa_preco), e para ver o que ele mudou chamo a variavel limpiza_linha pois  nela que está armazenda todas informações d linha 
limpa_preco(limpeza_linha)

Street                          Rua Manuel Onha, , 514
City                          Vila Oratório, São Paulo
propertycard__detailvalue                           180
quartos                                               3
banheiros                                             2
vagas                                                 2
price                                             2.200
Name: 10031, dtype: object

In [125]:
# A função apply() do pandas é usada para aplicar uma função ao longo de um eixo de um DataFrame. Neste caso, apply() está sendo utilizado para aplicar a função limpa_preco a cada linha.
# Um lambda é uma função anônima em Python, que neste caso recebe um argumento x.
# Aqui, x representa cada linha do DataFrame df.
# O argumento axis=1 indica que a função deve ser aplicada ao longo das linhas. Se fosse axis=0, a função seria aplicada ao longo das colunas.
df.apply(lambda x: limpa_preco(x), axis=1)

,Street,City,propertycard__detailvalue,quartos,banheiros,vagas,price
0,"Avenida Itacira, 255","Planalto Paulista, São Paulo",1000,4,8,6,7.000.000
1,"Rua Aurelia Perez Alvarez, 42","Jardim dos Estados, São Paulo",469-524,3-6,3-6,4,3.700.000
2,Rua Alba Valdez,"Jardim Reimberg, São Paulo",125,4,3,2,380.000
3,"Jardim Morumbi, São Paulo",SP,310,3,2,4,685.000
4,"Rua Tobias Barreto, 195","Mooca, São Paulo",100,3,2,2,540.000
...,...,...,...,...,...,...,...
10028,Rua Tapuçu,"Vila Sofia, São Paulo",90,2,2,2,665.000
10029,Rua Guararema,"Bosque da Saúde, São Paulo",600,8,7,5,2.300.000
10030,Rua Estero Belaco,"Vila da Saúde, São Paulo",200,3,3,6,1.050.000
10031,"Rua Manuel Onha, , 514","Vila Oratório, São Paulo",180,3,2,2,2.200
10032,"Rua Barão de Tramandaí, 0","Vila Alpina, São Paulo",117,3,2,2,270.000

In [126]:
def ajusta_preco_alugueis(linha):
    linha['price'] = linha['price'].replace('.', '') # Linha = Linha, no lugar do (.) estou substituindo por nada
    preco = int(linha['price'])
    if (preco < 10000):
        preco = preco * 200
    linha['price'] = preco
    return linha

In [118]:
# ajusta_preco_alugueis(limpeza_linha) -> Nao rode este codogo pois ele vai alter a linha novamente que vc ja converteu para inter

Street                          Rua Manuel Onha, , 514
City                          Vila Oratório, São Paulo
propertycard__detailvalue                           180
quartos                                               3
banheiros                                             2
vagas                                                 2
price                                            440000
Name: 10031, dtype: object

In [127]:
# Aplicando a funcao (ajusta_preco_alugueis) para o resto do meu DateFrame 
df.apply(lambda x: ajusta_preco_alugueis(x), axis=1)

,Street,City,propertycard__detailvalue,quartos,banheiros,vagas,price
0,"Avenida Itacira, 255","Planalto Paulista, São Paulo",1000,4,8,6,7000000
1,"Rua Aurelia Perez Alvarez, 42","Jardim dos Estados, São Paulo",469-524,3-6,3-6,4,3700000
2,Rua Alba Valdez,"Jardim Reimberg, São Paulo",125,4,3,2,380000
3,"Jardim Morumbi, São Paulo",SP,310,3,2,4,685000
4,"Rua Tobias Barreto, 195","Mooca, São Paulo",100,3,2,2,540000
...,...,...,...,...,...,...,...
10028,Rua Tapuçu,"Vila Sofia, São Paulo",90,2,2,2,665000
10029,Rua Guararema,"Bosque da Saúde, São Paulo",600,8,7,5,2300000
10030,Rua Estero Belaco,"Vila da Saúde, São Paulo",200,3,3,6,1050000
10031,"Rua Manuel Onha, , 514","Vila Oratório, São Paulo",180,3,2,2,440000
10032,"Rua Barão de Tramandaí, 0","Vila Alpina, São Paulo",117,3,2,2,270000